@font-face {
    font-family: 'Hey October';
    src: url('HeyOctober.eot');
    src: url('HeyOctober.eot?#iefix') format('embedded-opentype'),
        url('HeyOctober.woff2') format('woff2'),
        url('HeyOctober.woff') format('woff'),
        url('HeyOctober.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  