@font-face {
    font-family: 'Cardenio Modern';
    src: url('CardenioModern-Regular.eot');
    src: url('CardenioModern-Regular.eot?#iefix') format('embedded-opentype'),
         url('CardenioModern-Regular.woff') format('woff'),
         url('CardenioModern-Regular.woff2') format('woff2'),
         url('CardenioModern-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


