@font-face {
    font-family: 'Milky Nice';
    src: url('Milky Nice.eot');
    src: url('Milky Nice.eot?#iefix') format('embedded-opentype'),
         url('Milky Nice.woff') format('woff'),
         url('Milky Nice.woff2') format('woff2'),
         url('Milky Nice.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
